.layoutContainer {
  height: 100dvh;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 7dvh 1fr;
  grid-template-areas:
    'header header '
    'nav main ';
}

main {
  grid-area: main;
  background-color: $background-body;
  transition: background-color 0.25s linear;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
