.layoutContainer {
  height: 100dvh;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 7dvh 1fr;
  grid-template-areas:
    'header header '
    'nav main ';
}

.header {
  grid-area: header;
  background-color: $background-header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  box-sizing: border-box;
}

.header .mainPanel {
  @include font(2rem, 2.75rem, 600);
  color: $text-color;
}

.header .rightPanel {
  @include font(1.2rem, 1.25rem, 400);
  color: $text-color;
}

.sideBar {
  grid-area: nav;
  background-color: $background-sideBar;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 0;
}

.sideBar .topContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sideBar .link {
  text-align: start;
  height: 3.3em;
  @include font(1rem, 1.25rem, 600);
  color: $text-color;
  background-color: inherit;
  text-decoration: none;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  transition: background-color 0.3s;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;

  &:hover {
    background-color: $active-link-background-color;
    color: $active-text-color;
  }
}

.sideBar .link svg {
  width: 1.5rem;
  height: 1.5rem;
}

.sideBar .link .active {
  background-color: $active-link-background-color;
  color: $active-text-color;
}

.sideBar .btn {
  text-align: start;
  @include font(1.2rem, 1.25rem, 400);
  color: $text-color;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  transition: background-color 0.3s;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $active-link-background-color;
    color: $active-text-color;
  }
}

main {
  grid-area: main;
  background-color: $background-body;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
