.layoutContainer {
  height: 100dvh;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 7dvh 1fr;
  grid-template-areas:
    'header header '
    'nav main ';
}

.header {
  grid-area: header;
  background-color: $background-header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  box-sizing: border-box;
  transition: color 0.25s linear, background-color 0.25s linear;

  .mainPanel {
    @include font(2rem, 2.75rem, 600);
    color: $text-color;
    transition: color 0.25s linear;
  }

  .rightPanel {
    display: flex;
    gap: 1rem;
    align-items: center;
    @include font(1.2rem, 1.25rem, 400);
    color: $text-color;
    transition: color 0.25s linear;
  }
}

.sideBar {
  grid-area: nav;
  background-color: $background-sideBar;
  transition: background-color 0.25s linear;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 0;

  .topContainer {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }

  .link,
  .linkActive {
    text-align: start;
    height: 3.3em;
    @include font(1rem, 1.25rem, 400);
    color: $text-color;
    background-color: inherit;
    transition: color 0.25s linear, background-color 0.25s linear;
    text-decoration: none;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;

    &:hover {
      background-color: $active-link-background-color;
      color: $active-text-color;
      transition: color 0.25s linear, background-color 0.25s linear;
    }
    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .linkActive {
    background-color: $active-link-background-color;
    color: $active-text-color;
    transition: color 0.25s linear, background-color 0.25s linear;
  }

  .bottonContainer {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }

  .btn {
    width: 100%;
    text-align: start;
    @include font(1.2rem, 1.25rem, 400);
    color: $text-color;
    transition: color 0.25s linear, background-color 0.25s linear;
    padding: 0.5rem 0;
    box-sizing: border-box;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: $active-link-background-color;
      color: $active-text-color;
      transition: color 0.25s linear, background-color 0.25s linear;
    }
  }
}

main {
  grid-area: main;
  background-color: $background-body;
  transition: background-color 0.25s linear;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
