.profileButton {
  border: 1px solid #d7dae0;
  color: #a8aebd;
  @include font(1rem, 1.25rem, 600);
  box-sizing: border-box;
  background-color: inherit;
  border-radius: 0.5rem;
  cursor: pointer;

  &:hover {
    border: 1px solid #15357a;
    color: #15357a;
  }
  &:active {
    border: 1px solid #15357a;
    color: #fff;
    background-color: #15357a;
  }
}
