.wrapper {
  display: flex;
  height: 100dvh;
  background-color: $background-card;
  transition: background-color 0.25s linear;
}

.signContainer {
  width: 40dvw;
  min-width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signWrapper {
  width: 20rem;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
  @include font(2rem, 2.75rem, 600);
  color: $text-color;
  transition: color 0.25s linear;
}

.subTitle {
  @include font(1.25rem, 1.75rem, 500);
  color: $text-color;
  transition: color 0.25s linear;
}

.signForm {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem 0;
}

.signForm input {
  height: 3.3rem;
}

.signForm button {
  height: 3.3em;
}

.extraBtn {
  border: none;
  cursor: pointer;
  color: $subText-color;
  background-color: inherit;
  transition: color 0.25s linear, background-color 0.25s linear;
  @include font(1em, 1.25rem, 600);
  box-sizing: border-box;
  &:hover {
    border: none;
  }
  span {
    color: $active-link-color;
    transition: color 0.25s linear;
    box-sizing: border-box;
  }
}

.settingsControls {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  box-sizing: border-box;
}

.signImageContainer {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 4rem 1rem;
  box-sizing: border-box;
}
.signImagewrapper {
  width: 100%;
  height: 100%;
  background-color: #545b6d;
  border-radius: 1.5rem;
  background-image: url('/signin.png');
  background-repeat: no-repeat;
  background-position: top 7rem left 7rem;
  background-size: cover;
}
