@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

$themes: (
  lightTheme: (
    $background-header: #fff,
    $background-sideBar: #fff,
    $background-card: #fff,
    $background-body: #f0f3fb,
    $text-color: #545b6d,
    $subText-color: #a8aebd,
    $active-text-color: #15357a,
    $table-border-color: #d7dae0,
    $active-link-background-color: #f0f0f0,
  ),
  darkTheme: (
    $background-header: #fff,
    $background-sideBar: #fff,
    $background-card: #fff,
    $background-body: #f0f3fb,
    $text-color: #545b6d,
    $subText-color: #a8aebd,
    $active-text-color: #15357a,
    $table-border-color: #d7dae0,
    $active-link-background-color: #f0f0f0,
  ),
);

@mixin theme() {
  @each $theme, $map in $themes {
    $theme-map: $map !global;
    .#{$theme} & {
      @content;
    }
  }
  $theme-map: null !global;
}

@function theme-get($key) {
  @return map-get($theme-map, $key);
}

// $background-header: #fff;
// $background-sideBar: #fff;
// $background-card: #fff;
// $background-body: #f0f3fb;
// $text-color: #545b6d;
// $subText-color: #a8aebd;
// $active-text-color: #15357a;
// $table-border-color: #d7dae0;
// $active-link-background-color: #f0f0f0;
@mixin font($size: 14px, $heght: 17px, $weight: 300, $style: medium) {
  font-family: 'SF Pro Display', sans-serif;
  font-size: $size;
  font-weight: $weight;
  line-height: $heght;
  font-style: $style;
}
